[Desktop Entry]
Name=Ásbrú Connection Manager
Comment=Ásbrú Connection Manager is a user interface that helps organizing remote terminal sessions and automating repetitive tasks.
Terminal=false
Icon=/opt/asbru/res/asbru-logo-256.png
Type=Application
Exec=/opt/asbru/asbru
StartupNotify=true
Categories=Applications;Network;
X-GNOME-Autostart-enabled=false
Actions=Shell;Quick;ReadOnly;

[Desktop Action Shell]
Name=Start local shell
Exec=/opt/asbru/asbru --start-shell

[Desktop Action Quick]
Name=Quick connect...
Exec=/opt/asbru/asbru --quick-conn

[Desktop Action ReadOnly]
Name=Start Read-Only instance
Exec=/opt/asbru/asbru --readonly --no-backup
