Package: pac
Version: 4.5.5.5
Maintainer: David Torrejón Vaquerizas (david.tv@gmail.com)
Architecture: all
Description: PAC Perl Auto Connector
 Copyright: 2010-2014 by David Torrejón Vaquerizas, released under the GNU GPLv3 license
 .
 Gnome's SecureCRT/Putty/blah blah... equivalent (on steroids!) written in Perl/GTK.
 .
 PAC is a telnet/ssh/rsh/etc connection manager/automator written in Perl GTK
 aimed at making both administrators and switchers (from Windoze) live easier.
 This is free software, licensed under GNU's GLPv3 version
 If possible, use the next repository to update/install PAC:
 .
 deb http://archive.getdeb.net/ubuntu <your_distrib_name_here>-getdeb apps
 .
 (Or visit: http://www.getdeb.net to get further info and software)
Depends: perl, gtk2-engines-pixbuf, libvte9, libcairo-perl, libgtk2-perl, libglib-perl, libpango-perl, libgnome2-gconf-perl, libsocket6-perl, libexpect-perl, libnet-proxy-perl, libyaml-perl, libcrypt-cbc-perl, libcrypt-blowfish-perl, libgtk2-perl, libgtk2-gladexml-perl, libgtk2-ex-simple-list-perl, libnet-arp-perl, libossp-uuid-perl, openssh-client, telnet, ftp, libcrypt-rijndael-perl, libxml-parser-perl, libgtk2-unique-perl
Recommends: xtightvncviewer, rdesktop, libgtk2-appindicator-perl, libgtk2-sourceview2-perl, autossh, remote-tty, cu, c3270, mosh
Section: networking
Installed-Size: 5000
Homepage: https://sites.google.com/site/davidtv/
Provides: pac
Priority: optional
