button {
    margin: 1px;
}
radiobutton, checkbutton {
    margin: 1px;
}
spinbutton {
    font-size: 0.9em;
}
.button-cp {
}
tooltip {
    font-size: 0.8em;
}
.dnd-icon {
}

.banner-fill {
  background-image: linear-gradient(to right, #007aff, #2fedde);
  padding: 0.25em 0;
}
.banner-text {
  color: #EEE;
  text-shadow: 0px 0px 8px rgba(17, 17, 17, 0.75);
  font-size: 2.5em;
}
